:root{
 --azul: #219edcff;
 --roxo: blueviolet;
 --cinza: darkgrey;
--preto: black;
--titulo: "Bitcount"

}
body{ 
    background-color: var(--azul);
    font-family: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}